<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Thymeleaf Example</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</head>
<body>
	<p th:text="${greeting}">Replace me!</p>
	<p>
		<button onclick="getWeather()">Get weather forecast</button>
		<span id="getWeatherResult"></span>
	</p>
	<p>
		<button onclick="setWeather()">Set weather forecast</button>
		<span id="setWeatherResult"></span>
	</p>
	<p>
		<button onclick="deleteWeather()">Delete weather forecast</button>
		<span id="deleteWeatherResult"></span>
	</p>
</body>
</html>